{
 "tasks": "{\"can i haz cheezburger\":120,\"fox news fucks dogs\":3,\"glen beck is a rotting fleshbag\":120,\"how can i keep from singing\":120,\"how does facebook make money\":120,\"how does tweeter work\":120,\"is it crazy to talk to yourself\":120,\"is it impossible to sneeze with your eyes open\":120,\"is the internet made of tubes\":120,\"is trump stupid or crazy\":120,\"paul ryan is gay\":3,\"fox news fucks dogs\":3,\"should advertisers kill themselves\":120,\"should i change my password\":120,\"what are capers\":120,\"what is my ip\":120,\"why are manhole covers round\":120,\"why can't animals talk\":120,\"why can't antibiotics kill viruses\":120,\"why do cats purr\":120,\"why do republicans smell like shit\":120,\"why does my kid hit himself\":120,\"why don't women like me\":120,\"why is my poop green\":120,\"why is my stool black\":120,\"why is the sky blue\":120,\"xyz\":3}"
}
